@import "variables.scss";
@import "mixins.scss";

// Global Components

html {
  background-color: $background-grey;
}

body {
  @include serif;
  font-size: 20px;
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 3px;
  @include sans-serif;
  h3 {
    text-transform: uppercase;
  }
  a {
    color: $abstract-grey;
  }
  float: right;

  @include breakpoint(min-width-small) {
    padding: 30px;
  }
  margin-left: 20px;
  margin-top: 20px;
  width: 50%;
  @include breakpoint(max-width-small) {
    width: 100%;
  }
  p {
    font-weight: 400;
  }
}

// -- Typography

p {
  line-height: 1.5;
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif;
  font-weight: 800;
}
h2 { margin-top: 50px; }
h3 { margin-top: 30px; }

a {
  color: $gray;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

.table-of-contents {
  float: right;
  width: 50%;
  @include breakpoint(max-width-small) { width: 100%; }
  background: #eee;
  border-radius: 10px;
  padding: 20px;
  margin: 0 0 20px 10px;
}


blockquote {
  color: $gray;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

#tagcloud {
  margin-top: 20px;
  margin-bottom: 20px;
  text {
    @include serif;
    text-transform: uppercase;
    font-size: 24px;
    text-anchor: middle;
    pointer-events: none;
  }

  circle {
    fill:$gray-lighter;
  }

  .node:hover circle {
    fill: $green-link;
  }
  a:hover {
    text-decoration: none;
  }
  @include breakpoint(max-width-small) {
    visibility: hidden;
    display: none;
  }

}
// Terminal look

pre.terminal, code.sourceCode {

  @include breakpoint(min-width-small) {
    margin: 10px;
  }
  margin-bottom: 2em;
  word-spacing: 0;
  word-wrap: normal;
  vertical-align: baseline;
  overflow-x: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

pre.terminal span.prompt {
  color: #c5c525; }

code.sourceCode {
  display: block;
  word-spacing: 0;
  color: #1d1d1d;
  padding: 20px;
  background-color: #fbfbfb;
  border: 1px solid #efefef; }

pre.terminal {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
  line-height: 130%;
  font-size: 0.75em;
  text-shadow: none;
  color: #b7b7b7;
  border: 1px solid #efefef;
  padding: 10px;
  background: #363636; }
// Navigation

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: rgba(250, 250, 250, .8);
  @include sans-serif;
  .navbar-brand {
    @include breakpoint(max-width-small) {
      img {
        display: none;
      }
    }
    font-weight: 800;
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  @include breakpoint(min-width-small) {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand {
      color: white;
      padding: 20px;
      &:hover,
      &:focus {
        color: $white-faded;
      }
    }
    .nav {
      li {
        a {
          color: white;
          padding: 20px;
          &:hover,
          &:focus {
            color: $white-faded;
          }
        }
      }
    }
  }
  @include breakpoint(min-width-medium) {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -61px;
      background-color: fade(white, 90%);
      border-bottom: 1px solid darken(white, 5%);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      .navbar-brand {
        color: $gray-dark;
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }
      .nav {
        li {
          a {
            color: $gray-dark;
            &:hover,
            &:focus {
              color: $brand-primary;
            }
          }
        }
      }
    }
    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

// Header

.intro-header {
  background-color: $gray;
  background: no-repeat center center;
  background-attachment: scroll;
  @include background-cover;
  // NOTE: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  .site-heading,
  .post-heading,
  .page-heading {
    padding: 100px 0 50px;
    color: white;
    @include breakpoint(min-width-small) {
      padding: 150px 0;
    }
  }
  .site-heading,
  .page-heading {
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 50px;
    }
    .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      @include sans-serif;
      font-weight: 400;
      margin: 10px 0 0;
    }
    @include breakpoint(min-width-small) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .subheading,
    .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      @include sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 500;
    }
    .meta {
      @include serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
    @include breakpoint(min-width-small) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}

// Post Preview Pages

.post-preview {
  @include breakpoint(max-width-small) {
    text-align: center;
  }
  > a {
    color: $gray-dark;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
    > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      margin: 0;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }
  > .post-meta {
    color: $gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    > a {
      text-decoration: none;
      color: $gray-dark;
      &:hover,
      &:focus {
        color: $brand-primary;
        text-decoration: underline;
      }
    }
  }
  @include breakpoint(min-width-small) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

// Sections

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  a {
    color: $gray-dark;
    &:hover,
    &:focus {
      color: $gray;
    }
  }
  .list-inline {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}

// Button Styles

.btn {
  @include sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}

// Pager Styling

.pager {

  margin: 20px 0 0;

  li {
    > a,
    > span {
      @include sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      background-color: white;
    }

    > a:hover,
    > a:focus {
      color: white;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $gray;
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }
}

// -- Highlight Color Customization

::-moz-selection {
  color: white;
  text-shadow: none;
  background: $brand-primary;
}

::selection {
  color: white;
  text-shadow: none;
  background: $brand-primary;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: $brand-primary;
  overflow-x:hidden;
}

// iconfonts {{{

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e600";
}
.icon-github:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-user:before {
  content: "\e603";
}
.icon-feed2:before {
  content: "\e604";
}
.icon-tag:before {
  content: "\e605";
}
.icon-tags:before {
  content: "\e606";
}
.icon-clock:before {
  content: "\e607";
}
.icon-lab:before {
  content: "\e608";
}
.icon-menu:before {
  content: "\e609";
}
.icon-number:before {
  content: "\e60a";
}
.icon-number2:before {
  content: "\e60b";
}
.icon-number3:before {
  content: "\e60c";
}
.icon-number4:before {
  content: "\e60d";
}
.icon-number5:before {
  content: "\e60e";
}
.icon-number6:before {
  content: "\e60f";
}
.icon-number7:before {
  content: "\e610";
}
.icon-number8:before {
  content: "\e611";
}
.icon-number9:before {
  content: "\e612";
}
.icon-number10:before {
  content: "\e613";
}
.icon-envelope-alt:before {
  content: "\e614";
}
.icon-plus-sign:before {
  content: "\e615";
}
.icon-minus-sign:before {
  content: "\e616";
}
.icon-plus:before {
  content: "\e617";
}
.icon-minus:before {
  content: "\e618";
}
.icon-calendar-empty:before {
  content: "\e619";
}
.icon-thread:before {
  content: "\e61a";
}
.icon-number {
  vertical-align: middle;
  font-size: 1.2em;
}
// }}}
