// Mixins

@mixin transition-all()
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin serif()
{
	font-family: 'Bitter', 'Times New Roman', serif;
}

@mixin sans-serif()
{
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin breakpoint($point) {
  @if $point == max-width-small {
    @media only screen and (max-width: 767px) { @content; }
  }
  @if $point == min-width-small {
    @media only screen and (min-width: 768px) { @content; }
  }
  @if $point == min-width-medium {
    @media only screen and (min-width: 1170px) { @content; }
  }

}
