---
layout: default
header-img: "img/snowflakes.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="text-shadow: 1px 1px 7px rgba(150, 150, 150, 1)">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<script src="{{ site.baseurl }}/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/tagpie.js"></script>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}
        <div class="row">
          <div class="col-md-8">
            <div class="post-preview">
              <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                  {{ post.subtitle }}
                </h3>
                {% endif %}
              </a>
              <p class="post-meta"><i class="icon-clock"></i> <span data-livestamp="{{ post.date }}"></span></p>
            </div>
          </div>
          <div class="col-md-4">
            {% assign tagid = post.date | date: "%Y_%M_%d" %}
            <div class="tagpie" id="tagpie_{{tagid}}">
              <script>
                render("{{ post.url | prepend: site.baseurl }}/tag_ratio.json","#tagpie_{{tagid}}", 350, 140);
              </script>
            </div>
          </div>
        </div>
        <hr>

        {% endif %}
        {% endfor %}
        {% endfor %}
		</div>
	</div>
</div>

<hr>
