---
layout: default
header-img: "img/snowflakes.jpg"
title: Tags
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="text-shadow: 1px 1px 7px rgba(150, 150, 150, 1)">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div id="tagcloud">
        <h2 class="post_title">{% icon fa-cloud %} Tag-Cloud</h2>
      </div>
      <hr>
      <div id="tagdeps">
        <h2 class="post_title">{% icon fa-sitemap %} Related Tags</h2>
        <p>I thought it's a neat way to depict the relationships between tags. If there is a post that has multiple tags, those will be connected in the graph.</p>
      </div>
      <div id="taglist">
        <h2 class="post_title">{% icon fa-tags %} Tags by frequency</h2>
        <ul class="list-group">
          {% for tag in page.sorted_tags %}
          <a href="{{ site.baseurl }}/tag/{{ tag[0] }}" class="list-group-item">
            <span class="badge">{{ tag[1] }}</span>{{ tag[0] }}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>
<script src="{{ site.baseurl }}/js/d3.min.js"></script>
<script src="{{ site.baseurl }}/js/tagcloud.js"></script>
<script src="{{ site.baseurl }}/js/tagdependencies.js"></script>
