---
layout: default
header-img: "img/snowflakes.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2 class="post_title">{{page.title}}</h2>
      <ul>
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% if tag == page.tag %}
        <li class="archive_list">
          <h3 class="archive_list_header"><a class="archive_list_article_link" href='{{ site.baseurl }}{{post.url}}'>{{post.title}}</a></h3>
          <time class="archive_list_post_date" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%e/%Y"}}</time>
          <p class="summary">Summary: <em>{{post.subtitle}}</em>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
		</div>
	</div>
</div>

<hr>
